/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
	width:100%;
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 5px 0.9em;
 margin-left: 0px;
 margin-right: 5px;
 border: 1px solid #CCC;
 border-bottom: none;
 background: #CCC;
 text-decoration: none;
  -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 -khtml-border-radius: 2px;
 border-radius: 2px;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #CCC;
 border-color: #CCC;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

.odesk_header {
}
.odesk_header div.img{
	float:left;
	padding:3px;
	margin-right:5px;
}
.odesk_header .header_profilename{
	float:right;
	width:78%;
}


/*Widger*/

.odesk_header_widget {
}
.odesk_header_widget div.img{
	float:left;
	padding:0px;
	margin-right:1px;	
}

.odesk_header_widget div img{
	width:50px;
	height:50px;
}

.odesk_header_widget .header_profilename_widget{
	float:right;
	width:67%;
}

/*End Widget*/


.clear_both {
	clear:both;
}
.odesk_overview {
	padding-top:15px;
}
.odesk_overview span{
	margin:10px;
	padding:10px;
	text-align:justify;
}

.odesk_overview_list{
	float:right;
	margin-right:0px;
	width:100%;
}
.odesk_overview_list ul{
	margin-left:10px;
	width:95%;
}

.odesk_overview_list ul li{
	border-bottom:1px solid #CCC;
	list-style-type:none;
	line-height:27px;
	background:#FEFEFE;
	clear:both;
	width:100%;

}
.odesk_overview_list ul li span.caption{
	text-align:left;
	font-weight:bold;
	float:left;
	width:25%;
	padding:0;
	margin:0;
}
.odesk_overview_list ul li span.value{
	float:right;
	text-align:left;
	font-weight:bold;
	width:70%;
	padding:0;
	margin:0;
	color:#03F;
}
.odesk_table {
}
.odesk_table tr{
	border-bottom:1px solid #CCC;
}
.odesk_table tr td{
	padding:8px;
	vertical-align:top;
}
.odesk_table tr th{
	padding:8px;
	vertical-align:top;
	background:#CCC;
}